ai-agent-news-summarizer.json
{
  "name": "AI Agent workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [-16, 768],
      "id": "303e9b4e-cc4e-4d8a-8ede-7550f070d212",
      "name": "Get Tech News"
    },
    {
      "parameters": {
        "toolDescription": "Reads the news",
        "url": "https://feeds.bbci.co.uk/news/world/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [112, 768],
      "id": "4090a753-f131-40b1-87c3-cf74d5a7e325",
      "name": "Get World News"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            { "triggerAtHour": 7 }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-560, 752],
      "id": "651543b5-0213-433f-8760-57d62b8d6d64",
      "name": "Run every day at 7AM"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-560, 544],
      "id": "a0390291-6794-4673-9a6a-5c3d3a5d9e4b",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Summarize world news and tech news from the last 24 hours.\nSkip opinions.\nUse the titles \"World News\" and \"Tech News\".\nToday is {{ $today }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [-272, 544],
      "id": "084d56aa-d157-4964-9073-b36d9d9589c5",
      "name": "AI Summary Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-272, 768],
      "id": "b16482e8-0d48-4426-aa93-c3fee11dd3cd",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [160, 544],
      "id": "99f7bb9e-f8c0-43ca-a9a8-a76634ac9611",
      "name": "Format Output"
    },
    {
      "parameters": {
        "subject": "Your daily news summary",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [432, 544],
      "id": "45625d0d-bf26-4379-9eed-7bbc8e5d87a5",
      "name": "Send summary by email",
      "credentials": {}
    }
  ],
  "connections": {
    "Get Tech News": {
      "ai_tool": [
        [{ "node": "AI Summary Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Get World News": {
      "ai_tool": [
        [{ "node": "AI Summary Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Run every day at 7AM": {
      "main": [
        [{ "node": "AI Summary Agent", "type": "main", "index": 0 }]
      ]
    },
    "Manual Trigger": {
      "main": [
        [{ "node": "AI Summary Agent", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [{ "node": "AI Summary Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "AI Summary Agent": {
      "main": [
        [{ "node": "Format Output", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {},
  "staticData": {},
  "pinData": {},
  "meta": {
    "templateId": "public-ai-news-agent"
  }
}
