daily-ai-news-email.json.json
{
  "name": "AI News Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-224, -16],
      "id": "6901ebde-70ee-48d6-bced-9590451ca28b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://aiacceleratorinstitute.com/rss/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [0, -112],
      "id": "7d8a9cce-632d-4811-873d-8403211996d2",
      "name": "AI News Feed"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [0, 80],
      "id": "19f6e60b-0107-4245-b7db-abade7e09759",
      "name": "TechCrunch Feed"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [224, -16],
      "id": "359a493e-9800-41a8-96cc-2b9c7313fb3e",
      "name": "Merge Feeds"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "link"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [448, -16],
      "id": "8a0138dd-781c-4ea9-ba6b-b136e7c3d3f8",
      "name": "Aggregate Links"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.link }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI & Technology News Summarizer used in an automation workflow.\n\nRules:\n- Use plain English\n- No opinions, emojis, or hashtags\n- 2–3 short sentences per article\n- Include only AI, automation, software, or emerging tech news\n\nFor EACH article output:\nHEADLINE IN ALL CAPS\n2–3 sentence summary explaining what happened and why it matters\nArticle URL\n\nOutput must be consistent and predictable."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [672, -16],
      "id": "6a8de33c-62d0-4bc4-8ae4-26aa0210d9fa",
      "name": "LLM News Summarizer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [744, 208],
      "id": "8a53bcb1-32de-46d2-ae5d-eeddbd670cb4",
      "name": "Google Gemini Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "subject": "Daily AI & Tech News Summary",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1024, -16],
      "id": "58be2c8d-9a0a-456b-adfd-d4eb30acae45",
      "name": "Send Email Summary",
      "credentials": {}
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "AI News Feed", "type": "main", "index": 0 },
          { "node": "TechCrunch Feed", "type": "main", "index": 0 }
        ]
      ]
    },
    "AI News Feed": {
      "main": [
        [
          { "node": "Merge Feeds", "type": "main", "index": 0 }
        ]
      ]
    },
    "TechCrunch Feed": {
      "main": [
        [
          { "node": "Merge Feeds", "type": "main", "index": 1 }
        ]
      ]
    },
    "Merge Feeds": {
      "main": [
        [
          { "node": "Aggregate Links", "type": "main", "index": 0 }
        ]
      ]
    },
    "Aggregate Links": {
      "main": [
        [
          { "node": "LLM News Summarizer", "type": "main", "index": 0 }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          { "node": "LLM News Summarizer", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "LLM News Summarizer": {
      "main": [
        [
          { "node": "Send Email Summary", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
