linkedin-content-automation.json
{
  "name": "AI LinkedIn Content Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "ffe3fbe5-3590-4206-95ae-bb6455bfe671",
      "name": "Google Sheets Trigger",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a social media strategist with expertise in content adaptation.\n\nAnalyze the following article and create a concise summary that:\n1. Captures the 3 most important insights\n2. Includes actionable advice or tips\n3. Maintains the original tone\n4. Highlights implications for the target audience\n5. Stays under 200 words\n\nArticle:\n{{ $json.article }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [208, 0],
      "id": "123c6992-3bfb-452b-960d-cc16823089dd",
      "name": "Article Summary Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [208, 176],
      "id": "9ec5c73e-84b7-44fc-b214-ba7cb7fb9fd1",
      "name": "Google Gemini Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Assume the role of an industry expert and draft a professional LinkedIn post based on the following summary.\n\nRequirements:\n- Insightful and structured\n- Connected to current industry trends\n- Highlights implications for professionals\n- Encourages discussion\n- Includes a professional call to action\n\nSummary:\n{{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [560, 0],
      "id": "a445d283-5f53-4b22-b790-bc8331fc62ca",
      "name": "LinkedIn Post Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [592, 176],
      "id": "8dfbf2aa-f369-4b8e-a84d-6a83e9e869e6",
      "name": "Google Gemini Chat Model (Post)",
      "credentials": {}
    },
    {
      "parameters": {
        "person": "",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [912, 0],
      "id": "eaa0a039-7e03-43c2-845c-42fc2626d50a",
      "name": "Publish LinkedIn Post",
      "credentials": {}
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          { "node": "Article Summary Generator", "type": "main", "index": 0 }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          { "node": "Article Summary Generator", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Article Summary Generator": {
      "main": [
        [
          { "node": "LinkedIn Post Generator", "type": "main", "index": 0 }
        ]
      ]
    },
    "Google Gemini Chat Model (Post)": {
      "ai_languageModel": [
        [
          { "node": "LinkedIn Post Generator", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "LinkedIn Post Generator": {
      "main": [
        [
          { "node": "Publish LinkedIn Post", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
